<div *ngIf="identity=='true'" class="navigation col-lg-1 col-md-1 col-sm-2 col-xs-3">
  <h1 class="head-title">
    <a [routerLink]="['/']">
      <span class="glyphicon glyphicon-book" style="top: -5px;" aria-hidden="true"></span>
        τέχνη
      </a>
  </h1>
  <nav id="navigation">
    <a href="#">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      Buscar
    </a>
  </nav>

  <nav id="user_logged">


  </nav>
</div>



<div [class.hidden]="!identity" class="central col-lg-11">
  <router-outlet></router-outlet>
</div>
