	<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
		<h1>{{titulo}}</h1>

		<div *ngIf="alertMessage">
			<div class="alert alert-info">
				{{alertMessage}}
			</div>
		</div>
		<form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">			
			<p>
				<label>Nuevo Password</label>
				<input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required>
				<span *ngIf="!password.valid && password.touched">
					Por favor llena este campo
				</span>
			</p>
						

			<input type="submit" value="Actualizar mi Password" class="btn btn-primary">			
		
		</form>
	</div>