	<div class="head-page" *ngIf="identity">      	
		<h1>{{titulo}} <a [routerLink]="['/ver-miembros']" class="btn btn-primary">Volver a Miembros</a></h1>	
	</div>

	<div *ngIf="alertMessage">
		<div class="alert alert-info">
			{{alertMessage}}
		</div>
	</div>

	<div *ngIf="identity.role == 'ROLE_ADMIN'" class="col-lg-6">		
		
		<form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
			<p>
				<label>Matrícula:</label>
				<input type="text" #matricula="ngModel" name="matricula" [(ngModel)]="user.matricula" class="form-control" required />
				<span *ngIf="!matricula.valid && matricula.touched">
					La matricula es obligatoria
				</span>
			</p>

			<p>
				<label>Nombre:</label>
				<input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="user.nombre" class="form-control" required />
				<span *ngIf="!nombre.valid && nombre.touched">
					El nombre es obligatorio
				</span>
			</p>

			<p>
				<label>Carrera:</label>
				<input type="text" #carrera="ngModel" name="carrera" [(ngModel)]="user.carrera" class="form-control" required />
				<span *ngIf="!carrera.valid && carrera.touched">
					La carrera es obligatoria
				</span>
			</p>

			
				<div class="form-group">
				    <label>Role:</label>
				    <select class="form-control" name="role" [(ngModel)]="user.role" required>
				      <option>ROLE_ADMIN</option>
				      <option>ROLE_USER</option>				      
				    </select>
			  	</div>			
			<div *ngIf="matricula.valid && nombre.valid && carrera.valid">
				<input type="submit" value="Actualizar Miembro" class="btn btn-primary" />
      		</div>
		
		</form>
	</div>